<!DOCTYPE html>
<html lang="en">
<head>
    <title>Node.js: dig command</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/assets/css/style.css" type="text/css" media="screen">
</head>
<body>

<main id="site" class="container mt-lg-5 mb-lg-5">
    <form id="dns-lookup-form" action="" method="post" novalidate>
        <div class="row mb-3">
            <div class="col-sm-2">
            <select name="type" id="type" class="form-control">
                <option value="a" selected>A</option>
                <option value="mx">MX</option>
                <option value="ns">NS</option>
                <option value="cname">CNAME</option>
            </select>
            </div>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="domain" name="domain" placeholder="Domain name">
            </div>
            <div class="col-sm-2"><button type="submit" class="btn btn-primary">Lookup</button></div>
        </div>
       </form>
    <pre id="result"></pre>   
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/public/assets/js/app.js"></script>
</body>
</html>